.button {
  display: inline-block;
  border: 0;
  border-radius: 3em;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.button:focus,
.button:hover {
  box-shadow: #1e40fd 0px 0px 0px 2px inset;
}

/* MODE */

.buttonPrimary {
  composes: button;
  background-color: #1ea7fd;
  color: white;
}

.buttonSecondary {
  composes: button;
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
  color: #333;
}

/* VARIANTS */

.buttonSmall {
  font-size: 12px;
  padding: 10px 16px;
}
.buttonMedium {
  font-size: 14px;
  padding: 11px 20px;
}
.buttonLarge {
  font-size: 16px;
  padding: 12px 24px;
}
